
<script class="script-main-page" type="text/template">
	<div class="tableGroups"></div>
	<div class="clear"></div>
	<div class="orders">
		<h3>Orders</h3>
		<div class="box"></div>
	</div>
	<div class="topCustomers"></div>
</script>

<script class="script-table-groups" type="text/template">
	<h2>Tables</h2>
	<div class="set" data-type="new">
		<h4>Just In</h4>
		<p class="number">{{new}}</p>
	</div>
	<div class="set" data-type="waiting">
		<h4>Waiting</h4>
		<p class="number">{{waiting}}</p>
	</div>
	<div class="set" data-type="eating">
		<h4>Eating</h4>
		<p class="number">{{eating}}</p>
	</div>
	<div class="set" data-type="free">
		<h4>Free</h4>
		<p class="number">{{free}}</p>
	</div>
</script>

<script class="script-group-details" type="text/template">
	{{#each tables}}
		<span>Table #{{this}}</span>
	{{else}}
		<p class="empty">No content</p>
	{{/each}}
</script>

<script class="script-customers" type="text/template">
	<h3>Current Customers</h3>
	<ul>
		{{#each users}}
			<li data-id="{{user_id}}">
				<div class="user loyalty-{{level}}">
					<i class="fa fa-user"></i> 
					<div class="loyalty loyalty-{{level}}">
						<div class="meter loyalty-{{level}}"></div>
					</div>
				</div>
				{{name}}
			</li>
		{{/each}}
	</ul>
</script>
<script class="script-customer-details" type="text/template">
	<h4>{{name}}</h4>
	{{#each list}}
		<div class="list">
			<h5>{{date}}</h5>
			<ul>
				{{#each items}}
					<li>{{name}} x{{quantity}}</li>
				{{/each}}
			</ul>
		</div>
	{{/each}}
</script>
<script class="script-feedback" type="text/template">
	<p class="time">{{datePrint dateEntered}}</p>
	<h4>{{email}}</h4>
	<p class="message">{{feedback}}</p>
</script>
