<script class="script-table-groups" type="text/template">
	<h2>Tables</h2>
	<div class="set" data-type="new">
		<h4>Just In</h4>
		<p class="number">{{new}}</p>
	</div>
	<div class="set" data-type="waiting">
		<h4>Waiting</h4>
		<p class="number">{{waiting}}</p>
	</div>
	<div class="set" data-type="eating">
		<h4>Eating</h4>
		<p class="number">{{eating}}</p>
	</div>
	<div class="set" data-type="billing">
		<h4>Eating</h4>
		<p class="number">{{billing}}</p>
	</div>
	<div class="set" data-type="new">
		<h4>Just In</h4>
		<p class="number">{{free}}</p>
	</div>
</script>

<script class="script-group-details" type="text/template">
	{{#each tables}}
		<span>Table #{{this}}</span>
	{{else}}
		<p class="empty">No content</p>
	{{/each}}
</script>

<script class="script-customers" type="text/template">
	<h3>Current Customers</h3>
	<ul>
		{{#each users}}
			<li>
				<div class="user loyalty-{{level}}">
					<i class="fa fa-user"></i> 
					<div class="loyalty loyalty-{{level}}">
						<div class="meter loyalty-{{level}}"></div>
					</div>
				</div>
				{{name}}
			</li>
		{{/each}}
	</ul>
</script>
