doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='')
    title #{title} | Hackathon Starter
    != css('styles')
    script(src='/socket.io/socket.io.js')
  body
    include partials/navbar

    div.container
        block content

    div.custom_modal
        div.content
            p.text
            button.btn.btn-danger Ok

    include partials/footer


    != js('application')
    block custom_footer
