.table-groups {
  h2 {
    font-weight: normal;
  }

  .set {
  	float: left;
  	margin-right: 150px;
    text-align: center;

  	h4 {
  		margin-bottom: 0;
      font-weight: 300;
  	}

  	.number {
  		font-size: 3em;
      font-weight: 300;
  	}
  }

  .group-details {
    clear: both;
    overflow-y: hidden;

    span {
      padding: 0 10px 0 0;
    }
  }
}