<script class="script-after-order" type="text/template">
  <div class ="row">
    <div class="col-xs-12">
      <div class="options-wrapper">
        <div class="order-no">
          <h1>Order #23</h1>
        </div>
        <div class="options">
          <div class="option waiter">
            <button class="btn btn-success">
               Call Waiter
            </button>
          </div>
          <div class="option send-feedback">
            <button class="btn btn-info">
               Feedback
            </button>
          </div>
          <div class="option bill">
            <button class="btn btn-danger">
              Ask for bill
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="give-feedback">
    </div>
  </div>
</script>