<script class="script-after-order" type="text/template">
  <div class ="row">
    <div class="col-xs-12">
      <div class="options-wrapper">
        <div class="order-no">
          <h1>Order #23</h1>
        </div>
        <div class="options">
          <div class="option">
            <i class="fa fa-user fa-3x"></i> Call Waiter
          </div>
          <div class="">
            <i class="fa fa-wechat fa-3x"></i> Feedback
          </div>
          <div class="option">
            <i class="fa fa-money fa-3x"></i> Ask for bill
          </div>
        </div>
      </div>
    </div>
  </div>
</script>