<style>
h3{margin:0px;}
div.col-xs-2{
	margin-bottom:5%;
}
input[type="checkbox"]{
	zoom: 2.5;
}
div.sticky-bottom{
	position: fixed;
	bottom: 0px;
	min-height: 30px;
	background: #202d3b;
	color: #FFF;
	width : 100%;
	left:0px;
	line-height: 40px;
}
</style>

<script class="script-main-page" type="text/template">
	<div class ="row">
		<div class="col-xs-12">
			<div class="menu-wrapper"></div>
		</div>
	</div>
</script>

<script class="script-menu" type="text/template">
	<div class="filters">
		<span class="filter" data-filter="all">all</span>
		{{#each unique_tags}}
			<span class="filter" data-filter="{{this}}">{{this}}</span>
		{{/each}}
	</div>
	<form>
	<h2 class="text-center">Menu</h2>
	<hr>
	{{#each items}}
		<div class="col-xs-10">	
			<div class="row">
				<div class="col-xs-10">
					<h3>
						{{name}}
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
					{{price}} - 
					{{vegCheck tags}}
				</div>
			</div>	
		</div>

		<div class="col-xs-2">
			<input type="checkbox" name="items[]" value="{{id}}" class="item">
		</div>
		<div class="hidden">
			<input type="range" name="quantity[{{id}}]">
		</div>
	{{/each}}
	</form>

</script>

<div class="promotion sticky-bottom text-center">
Offer of the day : <strong> Paneer Achari @ ₹75 </strong>
</div>